<launch>
	<!-- Arguments -->
	<arg name="odom_frame"       default="odom"/>
	<arg name="base_frame"       default="base_footprint"/>
	<arg name="global_frame"     default="map"/>
	<arg name="scan_topic"       default="scan"/> 
	<arg name="map_topic"        default="/map"/>	
	<arg name="use_map_topic"    default="true"/>
	<arg name="odom_model_type"  default="omni-corrected"/>
  <arg name="namespace" default="robot0"/>
	<!-- use_map_topic参数为真时，amcl订阅map话题来接收地图数据
	false则通过map_server服务来获取地图数据 -->

	<node ns="$(arg namespace)" pkg="amcl" type="amcl" name="amcl" respawn="false">
		<param name="use_map_topic"             value="$(arg use_map_topic)"/>

		<param name="odom_frame_id"             value="$(arg odom_frame)"/> 
		<param name="base_frame_id"             value="$(arg base_frame)"/> 
		<param name="global_frame_id"           value="$(arg global_frame)"/>

		<!-- Publish scans from best pose at a max of 10 Hz -->
		<param name="odom_model_type"           value="$(arg odom_model_type)"/>
		<!-- <param name="odom_model_type" value="omni-corrected"/> -->		
		<!-- <param name="odom_model_type" value="omnid"/> -->
		<!-- <param name="odom_model_type" value="diff"/> -->
		<!-- <param name="odom_model_type" value="diff-corrected"/> -->
		<param name="odom_alpha5"               value="0.2"/>
		<param name="gui_publish_rate"          value="10.0"/>
		<param name="laser_max_beams"           value="60"/>
		<param name="laser_max_range"           value="12.0"/>
		<param name="min_particles"             value="500"/>
		<param name="max_particles"             value="2000"/>
		<param name="kld_err"                   value="0.05"/>
		<param name="kld_z"                     value="0.99"/>
		<param name="odom_alpha1"               value="0.2"/>
		<param name="odom_alpha2"               value="0.2"/>
		<param name="odom_alpha3"               value="0.2"/>
		<param name="odom_alpha4"               value="0.2"/>
		<param name="odom_alpha5"               value="0.2"/>
		<param name="laser_z_hit"               value="0.5"/>
		<param name="laser_z_short"             value="0.05"/>
		<param name="laser_z_max"               value="0.05"/>
		<param name="laser_z_rand"              value="0.5"/>
		<param name="laser_sigma_hit"           value="0.2"/>
		<param name="laser_lambda_short"        value="0.1"/>
		<param name="laser_model_type"          value="likelihood_field"/>
		<!-- <param name="laser_model_type" value="beam"/> -->
		<param name="laser_likelihood_max_dist" value="2.0"/>
		<param name="update_min_d"              value="0.25"/>
		<param name="update_min_a"              value="0.2"/>
		<param name="resample_interval"         value="1.0"/>

		<!-- Increase tolerance because the computer can get quite busy -->
		<param name="transform_tolerance"       value="1.0"/>
		<param name="recovery_alpha_slow"       value="0.0"/>
		<param name="recovery_alpha_fast"       value="0.0"/>

		<!-- remap -->
		<!-- <remap from="scan"                      to="$(arg scan_topic)"/> -->
		<remap from="map"                      to="/$(arg map_topic)"/>
	</node>
</launch>
