<launch>

	<!-- 启动机器人，包含底盘，激光雷达, 深度相机 -->
    <arg name="camera_type"       default="$(optenv CAMERA_TYPE dpcam)"/>

	<include file="$(find tarkbot_bringup)/launch/bringup.launch" >
	    <arg name="use_pose_ekf"       value="true" />
            <arg name="use_lidar"          value="true" />
            <arg name="use_web_video"      value="true"/>
            <arg name="use_camera"         value="true"/>
        </include>

    <!-- 运行机器人自检程序 -->
    <group if="$(eval camera_type == 'dpcam')">
        <node name="selfcheck" pkg="tarkbot_bringup" type="tarkbot_selfcheck.py" output="screen" required="true"/>
    </group>

    <group if="$(eval camera_type == 'cam')">
        <node name="selfcheck" pkg="tarkbot_bringup" type="tarkbot_selfcheck_camera.py" output="screen" required="true"/>
    </group>

</launch>
