<launch>

    <!-- 标签 -->
    <arg name="odom_frame"       default="odom"/>  
    <arg name="base_frame"       default="base_footprint"/>  
    <arg name="imu_frame"        default="imu_link"/>  
    <arg name="odom_topic"       default="/odom"/>  
    <arg name="imu_topic"        default="/imu"/>  
    <!-- 启动机器人底盘 -->
    <include file="$(find tarkbot_robot)/launch/robot.launch">
        <arg name="base_frame"     value="$(arg base_frame)"/>  
        <arg name="odom_frame"     value="$(arg odom_frame)"/>  
        <arg name="imu_frame"      value="$(arg imu_frame)"/>  
        <arg name="odom_topic"     value="$(arg odom_topic)"/>  
        <arg name="imu_topic"      value="$(arg imu_topic)"/>   
        <arg name="pub_odom_tf"    value="true"/>  
    </include>

    <!-- 启动键盘遥控节点 -->
    <node name="teleop_keyboard" pkg="tarkbot_teleop" type="tarkbot_teleop_keyboard.py" output="screen" respawn="false"/>

</launch>
