<launch>

	<!-- 标签 -->
	<arg name="map_file" default="tarkbot_test.yaml"/>

	<!-- 启动机器人，包含底盘，雷达，相机设备 -->
	<include file="$(find tarkbot_bringup)/launch/bringup.launch" >
		<arg name="use_pose_ekf"      value="true"/>
		<arg name="use_lidar"         value="true"/>
		<arg name="use_camera"        value="false"/>
		<arg name="use_web_video"     value="false"/>
	</include>

	<!-- 启动Map server功能包，发布地图 -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find tarkbot_slam)/maps/$(arg map_file)" />

	<!-- 启动AMCL 自适应蒙特卡洛定位功能 -->
	<include file="$(find tarkbot_nav)/launch/include/tarkbot_amcl.launch">
		<arg name="odom_frame"       value="odom"/>
		<arg name="base_frame"       value="base_footprint"/>
		<arg name="global_frame"     value="map"/>
		<arg name="odom_model_type"  value="omni-corrected"/>
	</include>

	<!-- 启动move_base路径规划功能 -->
	<include file="$(find tarkbot_nav)/launch/include/tarkbot_move_base.launch">
		<!-- 选择机器人型号，调用对应型号机器人导航参数 -->
		<arg name="robot_type"   value="r20_fwd"/>  
	</include>

</launch>
