<?xml version="1.0"?>
<launch>

    <!-- 启动机器人，包含底盘，激光雷达 -->
    <include file="$(find tarkbot_bringup)/launch/bringup.launch" >
		<arg name="use_pose_ekf"      value="true"/>
		<arg name="use_lidar"         value="true"/>
		<arg name="use_camera"        value="false"/>
		<arg name="use_web_video"     value="false"/>
	 </include>

    <!-- 启动机器人跟随目标点寻找节点 -->
    <include file='$(find simple_follower)/launch/nodes/laserTracker.launch' />

    <!-- 启动机器人跟随运动节点 -->
    <include file='$(find simple_follower)/launch/nodes/follower.launch' />
   
</launch>
